.product-card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.product-card__title {
  font-size: 18px;
  font-weight: 400;
  margin: 20px;
}
