#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}

.products-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.navbar {
  padding: 40px;
  background-color: white;
}
