.header {
  grid-column: span 2;
  padding: 50px 60px;
  background-color: white;
}

.header__title {
  margin: 0;
  font-family: "Rubik Mono One";
  font-size: 24px;
}

.header__title:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 40px 20px;
  }
  .header__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 459px) {
  .header__title {
    text-align: center;
  }
}
